html, body {
	width: 21cm;
	height: 29.7cm;
	margin: 1cm;
	padding: 0;
}

h1, h2, h3, h4, p, #info {
	font-family: Georgia;
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	text-align: left;
	font-size: 2.5em;
	position: relative;
	left: 27%;
}

h2, h3, h4 {
	font-size: 1em;
	text-align: right;
	position: relative;
	width: 25%;
}

h4 {
	font-weight: normal;
}

p {
	position: relative;
	text-align: justify;
	left: 27%;
	width: 90%;
}

a {
	color: inherit;
}

#links {
	position: relative;
	left: 27%;
}

#links a {
	text-decoration: none;
}

#info {
	font-size: 0.85em;
	position: relative;
	left: 27%;
	margin-bottom: 1em;
}

hr {
	position: relative;
	margin-top: -0.75em;
	left: 27%;
	margin-right: 10%;
	width: 90%;
}

.down1 {
	margin-top: 1.4em;
}

.up1 {
	margin-top: -1.4em;
}

.up2 {
	margin-top: -2.4em;
}

.up3 {
	margin-top: -3.4em;
}

h2, #links a {
	color: #54a0ff;
}

h4 {
	color: #a1a1a1;
}

a:hover {
	color: #eb3b5a;
}
